.master-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(172px, 10px));
    row-gap: 15px;
    column-gap: 15px;
    padding-left: 10px;
    padding-top: 9px;
    background-color: grey;
}

@media (min-width: 390px) {
    .master-grid {
        grid-template-columns: repeat(auto-fill, minmax(178px, 10px));
    }
}

@media (min-width: 400px) {
   .master-grid {
    row-gap: 17px;
    column-gap: 17px;
    grid-template-columns: repeat(auto-fill, minmax(182px, 10px));
   } 
}

@media (min-width: 412px) {
    .master-grid {
     row-gap: 17px;
     column-gap: 17px;
     padding-left: 11px;
     grid-template-columns: repeat(auto-fill, minmax(185px, 10px));
    } 
 }