.master-container {
  position: relative;
  border-radius: 6px;
  height: 255px;
  overflow: hidden;
  background: #FAFAFC;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.master-image-container {
  position: relative;
  height: 112px;
}

.master-images img {
  width: 100%;
  max-height: 112px;
}

.master-bottom {
  height: 143px;
  padding: 13px;
}

.master-name {
  color: #393F42;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}

.master-description {
  height: 47px;
  overflow: hidden;
  color: #393F42;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.master-contact-btn {
  width: 100%;
  height: 31px;
  border: none;
  border-radius: 4px;
  background: #67A8C4;
  color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.master-image-prev-btn,
.master-image-next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  width: 50%;
  height: 100%;
}

.master-image-prev-btn {
  left: 1px;
}

.master-image-next-btn {
  right: 1px;
}

.dots {
  top: 80%;
  width: 100%;
  position: absolute;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-active {
  background-color: #67a8c4;
  width: 6px;
  height: 6px;
}

.dot-inactive {
  background-color: rgb(103, 168, 196, 0.6);
}