* {
    box-sizing: border-box;
}

.container {
    
}

/* Add padding to containers */
form {
    padding: 16px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF;
}

/* Full-width input fields */
.services,
input[type=text],
input[type=file],
select {
    width: 100%;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text],
input[type=file] {
    padding: 15px;
}

select, .services {
    padding: 15px 11px;
}

input[type=text]:focus, select:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 4px;
    background: #67A8C4;
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.registerbtn:hover {
    opacity: 1;
}